<div fxLayout="row" class="breadcrumb p-2">
    <a href="javascript: void(0)" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center">
        <i  class="pi pi-home" data-test-icon="home">home</i>
        <span class="breadcrumb-title" [attr.data-test-span]="'BREADCRUMB.HOME' ">{{'BREADCRUMB.HOME' }}</span>
    </a>
    <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center">                 
        <a *ngIf="i !== (breadcrumbs.length - 1) && breadcrumb.url" [routerLink]="[breadcrumb.url]" [attr.data-test-link]="breadcrumb.name ">{{breadcrumb.name }}</a>   
        <span *ngIf="i !== (breadcrumbs.length - 1) && !breadcrumb.url" class="breadcrumb-title" [attr.data-test-span]="breadcrumb.name ">{{breadcrumb.name  }}</span>
        <span *ngIf="i === (breadcrumbs.length - 1)" class="breadcrumb-title active" [attr.data-test-span]="breadcrumb.name ">{{breadcrumb.name  }}</span>
    </div> 
</div>