.admin{
    &-wrapper {
      height: 100%;
      padding: 0;
      margin:0;
  
    }
  
   &-page {
      padding: 25px;
      width: 100%;
      display: inline-block;
      position: relative;
     
  
    }

  
  }

  .subcard{
      width: 100%;
  }
 
.subcard{
  margin-top: 12px;
}
  