.admin{
    &-wrapper {
      height: 100%;
      padding: 0;
      margin:0;
  
    }
  
   &-page {
      padding: 25px;
      width: 100%;
      display: inline-block;
      position: relative;
     
  
    }
   
  
  }

  
 .images {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    
    .test:after {
      content: '\2807';
      font-size: 20px;
      padding-left: 100px;
      }

    