

<div class="admin-page">
  <h3>Users</h3>
  <p-card>
<div class="grid">
  <div class="col-2"  *ngFor="let user of getData">

<p-card>
  
  <div class="grid">
    <div class="col-3">
      <img  class="images" [src]="user.images">
    </div>
   
    <div class="test col-3" >
    
    </div>
  </div>
 
  <div>
   <p > {{user.name}}</p>
   
   <small> <i  class="pi pi-file"></i>{{user.email}}</small><br>
   <small><i class="pi pi-phone"></i>{{user.phone}}</small><br>
   <small><i class="pi pi-user"></i>{{user.caption}}</small>

  </div>
    
</p-card>
  </div>
</div>
  </p-card>
</div>