<p-table #table [columns]="gridcols" [value]="getData"
[globalFilterFields]="filterColList" (onFilter)="onFilter($event)" 
(onLazyLoad)="onQuery($event)" [lazy]="true" 
>
    <ng-template pTemplate="caption">
      
        
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
             pInputText type="text" 
             (input)="table.filterGlobal(getEventValue($event), 'contains')" 
             placeholder="Search keyword" />
        </span>


        <span data-test-icon="filter"
       (click)="filterGrid(table)" class="pi pi-filter-fill">
       
    </span>
        
    </ng-template>

   
    <ng-template  pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
               {{col.field}}
            </th>
            
        </tr>

        <tr *ngIf="isFilterShow">
         <th *ngFor="let col of columns" [ngSwitch]="col.field">
         <span *ngIf="(col.field_datatype === 'string')">
             <input
             *ngSwitchCase="col.field" type="text"  
              [value]="table.filters[col.field] || isFilters ? (fillFilters[col.field]?.value || $any(table).filters[col.field].value): ''"
            (input)="onStringFilterKeyup(table, $event, col.field_name, col.field_match_type)"
            title="{{(col.field)}}"
            placeholder="{{(col.field)}}"
              >

         </span>
         </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData  let-columns="columns" >
        <tr>
            <td>{{rowData.code}}</td>
            
            <td>{{rowData.name}}</td>
            <td>{{rowData.description}}</td>
            <td>{{rowData.inventoryStatus}}</td>
           
        </tr>

    </ng-template>

</p-table>
