<p-table #table [columns]="gridcols" [value]="getData"

[globalFilterFields]="filterColList"
>
    <ng-template pTemplate="caption">
      
        
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
             pInputText type="text" 
             (input)="table.filterGlobal(getEventValue($event), 'contains')" 
             placeholder="Search keyword" />
        </span>
    </ng-template>

   
    <ng-template  pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
               {{col.field}}
            </th>
            
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData  let-columns="columns" >
        <tr>
            <td>{{rowData.code}}</td>
            
            <td>{{rowData.name}}</td>
            <td>{{rowData.description}}</td>
            <td>{{rowData.inventoryStatus}}</td>
           
        </tr>

    </ng-template>

</p-table>
